#My Jupyter Notebook on IBM Watson Studio
**Diwakar kumar**\
Student

*I am interested in data science because \
I like all the machine learning data visualization\
and i like to play with data*

###Addition of two digit

In [1]:
num1=int(input())
num2=int(input())
num1+num2

5
6

11



1.   List 1
2.   List 2
1.   List 3
2.   List 4



*   List 
*   List 

---



---



```


```
```


```

In [ ]:
25+25

50

#Markdown
##Order list
1.   List item
2.   List item

##Unorder list


*   List item
*   List item
##Horizontal rule


--- -----------